* {
    font-size: 15px;
    font-family: "CaskaydiaCove Nerd Font Propo";
}

window#waybar {
    all: unset;
}

.modules-left {
    padding: 7px;
    margin: 10px 0 5px 10px;
    border-radius: 10px;
    background: rgba(43,36,59,0.7);
    box-shadow: 0px 0px 4px rgba(32,28,43,0.6);
}

.modules-right {
    padding: 7px;
    margin: 10px 10px 5px 0;
    border-radius: 10px;
    background: rgba(43,36,59,0.7);
    box-shadow: 0px 0px 4px rgba(32,28,43,0.6);
}

#clock {
    padding: 0px 5px;
    color: rgba(230,224,248,1);
}

#pulseaudio {
    padding: 0px 5px;
    color: rgba(230,224,248,1);
}

#custom-wlogout {
    padding: 0px 5px;
    color: rgba(230,224,248,1);
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: rgba(118,102,90,0.3);
    transition: all 0.1s ease;
}

#workspaces button.active {
    color: rgba(194,142,255,1);
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

#workspaces button.empty.active {
    color: rgba(194,142,255,1);
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
