@import "theme.css";

* {
  /* background-color: @background; */
  all: unset;
  font-family: "CaskaydiaCove Nerd Font Propo";
  font-size: 12px;
  font-weight: bold;
}

.modules-left * {
  margin-left: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
}

.modules-right * {
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 16px;
}

#waybar {
  border-radius: 10px;
  background: @base;
}

#workspaces button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: @surface;
  padding: 0 10px;
  transition: 0.2s ease-out;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: @green;
}

#workspaces button.urgent {
  color: @red;
}

#cpu {
  background-color: @black;
}
#memory {
  background-color: @black;
}
#pulseaudio {
  background-color: @black;
}
#clock {
  background-color: @black;
}
#battery {
  background-color: @black;
}
#network {
  background-color: @black;
}
#bluetooth {
  background-color: @black;
}
#custom-wleave {
  border: 1px solid @green;
  padding: 0 10px;
  background-color: @black;
}
#window {
  padding-right: 16px;
  background-color: @black;
}
window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  padding: 2px;
  background-color: @green;
}

#battery.critical {
  color: @red;
}

#battery.warning {
  color: @yellow;
}

#battery.charging {
  color: @green;
}

.hidden {
  opacity: 0;
}
