@define-color base           #1C261E;
@define-color mantle         #2C3A30;
@define-color surface        #3C4B3E;

@define-color text           #DDF0E5;
@define-color dim_text       #4B5F4F;
@define-color accent_text    #608864;

@define-color black          #19231B;
@define-color red            #E26E6E;
@define-color green          #7FBB82;
@define-color yellow         #F0E68C;
@define-color blue           #87CEEB;
@define-color magenta        #C28EFF;
@define-color cyan           #5ABAAE;
@define-color white          #DDF0E5;

@define-color orange         #FFB870;
@define-color pink           #FFB0B0;
@define-color vibrant_green  #34CB7D;
